.app-layout {
  @apply min-h-screen flex bg-cover bg-center;
  background-image: url("../assets/images/gradient-background.jpg");
}

.dark .app-layout {
  background-image: url("../assets/images/gradient-background-darkmode.jpg");
}

@media (max-width: 768px) {
  .app-layout {
    background-position: center top;
  }
}
@media (min-width: 769px) {
  .app-layout {
    background-position: center center;
  }
}